extends layout

block content
  h1= title
  p Welcome to #{title}
  p= book
  ul
    h2 Name & Description
    each val in books
      li= val.title + '- ' + val.author + ': ' + val.description
      a(href="/book/" + val._id + "/edit") Edit Book &nbsp
      a(href="/book/" + val._id) Delete Book
  p= books
    form(action="/" method="POST")
      label(for="title") Title
      input(type="text" name="title")
      label(for="author") Author
      input(type="text" name="author")
      label(for="description") Description
      textarea(name="description")
      input(type="submit" value="save" class="button")
